name: ETL Scheduler
on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:
jobs:
  etl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Run ETL
        run: python scripts/etl_oca_modules.py


